<h1>RastreiaMais</h1>

<div class="logo">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="144px"
    width="144px"
    fill="#123442"
    viewBox="0 -960 960 960"
  >
    <path
      d="M200-80q-33 0-56.5-23.5T120-160v-480q0-33 23.5-56.5T200-720h40v-200h480v200h40q33 0 56.5 23.5T840-640v480q0 33-23.5 56.5T760-80H200Zm120-640h320v-120H320v120ZM200-160h560v-480H200v480Zm280-40q83 0 141.5-58.5T680-400q0-83-58.5-141.5T480-600q-83 0-141.5 58.5T280-400q0 83 58.5 141.5T480-200Zm0-60q-58 0-99-41t-41-99q0-58 41-99t99-41q58 0 99 41t41 99q0 58-41 99t-99 41Zm46-66 28-28-54-54v-92h-40v108l66 66Zm-46-74Z"
    />
  </svg>
</div>

<form class="form" [formGroup]="credentials" (ngSubmit)="onSubmit()">
  <div>
    <label for="email" class="form__label">Email</label>
    <input
      id="email"
      class="form__input"
      type="email"
      placeholder="Digite seu email"
      name="email"
      formControlName="email"
    />
  </div>
  <div>
    <label for="password" class="form__label">Senha</label>
    <input
      id="password"
      type="password"
      class="form__input"
      placeholder="Digite sua senha"
      name="password"
      formControlName="password"
      required
    />
  </div>
  @if(isSubmitted) { @if(password?.errors?.['required'] &&
  email?.errors?.['required']) {
  <small>Por favor, digite seu e-mail e senha</small>
  } @if(email?.errors?.['email']) {
  <small>Email inválido</small>
  } }
  <button class="form__button">Acessar</button>
</form>
