@use 'assets/variables';
@use 'assets/shadows' as *;

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 16px 16px 24px;
}

h1,
.logo {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__label {
    display: block;
    font-weight: bold;
  }

  &__input {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid variables.$gray-default;
    @include shadow;

    &:focus {
      outline: 1px solid variables.$black-default;
    }
  }

  &__button {
    background-color: variables.$green-default;
    color: variables.$green-light;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    padding: 8px;
  }
}

small {
  color: variables.$red-default;
}

.logo {
  rotate: 25deg;
}
