<img src="assets/logo.svg" alt="Logo do MeuPontoMais+" height="164" />

<form class="form" [formGroup]="credentials" (ngSubmit)="onSubmit()">
  <div>
    <label for="email" class="form__label">Email</label>
    <input
      id="email"
      class="form__input"
      type="email"
      placeholder="Digite seu email"
      name="email"
      formControlName="email"
    />
  </div>
  <div>
    <label for="password" class="form__label">Senha</label>
    <input
      id="password"
      type="password"
      class="form__input"
      placeholder="Digite sua senha"
      name="password"
      formControlName="password"
      required
    />
  </div>
  @if(isSubmitted) { @if(password?.errors?.['required'] &&
  email?.errors?.['required']) {
  <small>Por favor, digite seu e-mail e senha</small>
  } @if(email?.errors?.['email']) {
  <small>Email inválido</small>
  } }
  <button class="form__button">Acessar</button>
</form>
