@use 'assets/variables';
@use 'assets/shadow' as *;

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 16px;
}

h1,
.logo {
  text-align: center;
}

.error {
  background-color: variables.$red-default;
  padding: 8px;
  border-radius: 8px;
  font-size: 12px;
  color: variables.$white-default;
  @include shadow;

  &__icon {
    cursor: pointer;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__label {
    display: block;
    font-weight: bold;
  }

  &__input {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid variables.$gray-default;
    @include shadow;

    &:focus {
      outline: 1px solid variables.$black-default;
    }
  }

  &__button {
    background-color: variables.$green-default;
    color: variables.$green-light;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    padding: 8px;
    font-size: 16px;

    &:disabled {
      opacity: 0.5;
    }
  }
}

small {
  color: variables.$red-default;
}
