<img src="assets/logo.svg" alt="Logo do MeuPontoMais+" height="164" />

@if(error) {
<div class="error flex align-center justify-between">
  <p>{{ error }}</p>
  <svg
    class="error__icon"
    xmlns="http://www.w3.org/2000/svg"
    height="24px"
    width="24px"
    fill="#ffffff"
    viewBox="0 -960 960 960"
    (click)="onCloseError()"
  >
    <path
      d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
    />
  </svg>
</div>
}

<form class="form" [formGroup]="credentials" (ngSubmit)="onSubmit()">
  <div>
    <label for="email" class="form__label">Email</label>
    <input
      id="email"
      class="form__input"
      type="email"
      placeholder="Digite seu email"
      name="email"
      formControlName="email"
    />
  </div>
  <div>
    <label for="password" class="form__label">Senha</label>
    <input
      id="password"
      type="password"
      class="form__input"
      placeholder="Digite sua senha"
      name="password"
      formControlName="password"
      required
    />
  </div>

  <button class="form__button flex justify-center" [disabled]="isLoading">
    @if(isLoading) { <app-spinner diameter="18" strokeWidth="3" /> } @else {
    Acessar }
  </button>
</form>
