$black-default: #123442;
$gray-default: #efeeea;
$gray-light: #f6f6f4;
$green-default: #00b11d;
$green-light: #e4ffe3;
$green-dark: #034d2e;
$red-default: #ca3325;
$red-light: #f05a4e;
$yellow-default: #fff110;
$white-default: #ffffff;
