@use 'assets/reset';
@use 'assets/variables';
@use 'assets/opacity';
@use 'assets/font';
@use 'assets/colors';
@use 'assets/flex';

html {
  height: 494px;
  width: 320px;
  min-width: 320px; // For Firefox
  overflow-y: auto;
  background-color: variables.$green-light;
  font-family: 'Poppins', sans-serif;
}

body {
  position: relative;
  height: 100%;
  line-height: 1.5;
  color: variables.$black-default;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
}

.material-icons {
  font-size: 48px;
}

.text-center {
  text-align: center;
}
