@if(session$ | async; as session) {
<app-profile [session]="session" />

<div class="host">
  <!-- TODO: Make a component -->
  <div style="margin-bottom: 16px; text-align: center; border: 1px solid black; border-radius: 16px; padding-block: 8px">
    <div>
      <p>{{ today2() | date : 'dd/MM/yyyy' }}</p>
      <p>{{ today2() | date : 'hh:mm:ss' }}</p>
    </div>
  </div>

  <app-time-tracker
    [session]="session"
    [tracker]="{ worked: sWorkedHours(), left: sLeftingHours(), clockOut: sClockOut() }"
  />

  <hr />

  <app-last-records [times]="times()" />

</div>
} @else {
<div style="display: grid; place-content: center; height: 100%">
  <app-spinner diameter="96" strokeWidth="8" color="lightsalmon" />
</div>
}
