:host {
  display: block;
  height: 100%;
  overflow-y: auto;
}

.host {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
}

hr {
  margin-block: 16px;
  color: white;
  opacity: 0.5;
}

.material-icons:disabled {
  pointer-events: none;
}
